body {font-size: 16px;color: white;background-color: maroon;font-family: oxygen;}

#header-nav{background-color: yellow;border-radius: 0;border: 0;}

#logo-img{background: url('Photos-chuimage.png') no-repeat; width: 150px; height: 150px; margin: 10px 15px 10px 0;}