body {font-size: 16px;color: black;background-color: green;font-family:oxygen;}

#header-nav{background-color: orange;border-radius: 0px;border: 0px;padding: 0;margin-top: 0px}

.navbar-brand {padding-top: 25px;}

.navbar-brand h1{font-family: 'lora',serif;color: green;font-size: 1.5em;text-transform: uppercase;font-weight: bold;text-shadow: 1px 1px 1px #222;margin-top: 0; margin-bottom: 0;line-height: .75}

.navbar-brand a:hover, .navbar a:focus {text-decoration: none}

.navbar-brand p {color: black;text-transform: uppercase;font-size: 6;margin-top: 15px;}