<css>



*{box-sizing:border-box;margin: 0px; padding 0px}


 body{background-color:green;}

 
#heading{alignment-baseline: : center;}

 #box{background-color: blue;padding: 10x 30x 10x 30x;border: 
 	1px solid black; width:400px;height: 200px;float: right;margin: 20px}

 #box4{background-color:orange;width:105px;border:
  1px solid black;margin-top: : 0px; margin-bottom: 5px}
 

 #content{background-color: blue;font-size: 9;}

 #box3{background-color: blue;padding:10x 30x 10x 30x;border:
 	1px solid black;width:400px;height:200px;float: right;margin: 20px}


#box6{background-color: orange;width:105px;border:
 1px solid black;margin-top: 0px;margin-bottom: 5px}

#box2{background-color: blue;padding:10x 30x 10x 30x;border:
	1px solid black;width:400px;height:200px;float: right;margin: 20px;}


#box5{background-color: orange;width: 105px;border: 
1px solid black;margin-top: 0px;margin-bottom: 5px}

</css>
 

